@font-face {
  font-family: "ScienceGothic";
  src: url("../fonts/ScienceGothic-Light.woff2") format(woff2);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ScienceGothic";
  src: url("../fonts/ScienceGothic-Bold.woff2") format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, 
del, dfn, img, ins, kbd, q, s, samp, strike, tt, var, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
}

:root {
  --color-dark: black;
  --color-light-dark: #131619;
  --height-header: 70px;
  --width-aside: 400px;
  --marginHeader: 20px;
  --background-color-block: #0f1f3d;
}

html {
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  font-family: "ScienceGothic", serif;
  background-color: black;
  font-size: 16px;
}

main {
  display: flex;
  column-gap: 20px;
  max-width: 1920px;
  margin-inline: auto;
  padding-inline: 15px;
}

.container {
  max-width: 1920px;
}

.main-header {
  width: 100%;
  margin-bottom: var(--marginHeader);
}

.header-main {
  width: 100%;
  height: var(--height-header);
  box-shadow: 0 3px 26px 5px var(--color-light-dark) ;
  background-color: var(--color-light-dark);
  align-items: center;
}

.navigation-container {
  padding: 20px;
}

aside section {
  width: min(25vw, 400px);
  max-height: calc(100dvh - var(--height-header) - var(--marginHeader));
  overflow: auto;
  position: sticky;
  top: 15px;
  background-color:#0f1f3d;
  border-radius: 15px;
}

.navigation-item {
  background-color: #002e4d;
  border-radius: 10px;
  margin-block: 5px;
  transition: all 0.05s ease-in;
}

.navigation-item:active {
  scale: 0.98;
  background-color: #2e5cb8 ;
}

.header-main {
  display: flex;
  justify-content: space-around;
  font-size: 40px;
}

.header-main p {
  color:#B4D5E0;
  text-transform: uppercase;

}
.header-main a {
  text-decoration: none;
  color:#B4D5E0;
}

.learn-html {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color:#0a1429;
  border-radius: 15px;
  color: #D4F7C7;
  max-width: 100%;
  row-gap: 20px;
  flex: 1; 
  min-width: 0;
} 

.learn-html-block {
  border-radius: 10px;
  width: 100%;
  padding: 15px;
  background-color: var(--background-color-block);
  transition: all 0.2s ease-in;
  flex-wrap: wrap;
}

.learn-html-block:hover {
  scale: 1.013;
}

.navigation-link {
  display: block;
  color: #D4C9E9;
  padding: 10px;
  text-decoration: none;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

.learn-html-code {
  border-radius: 15px;
}

.learn-html-example {
  width: 100%;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
}

pre {
  margin-inline: 0 !important;
  margin-block: 0 !important;
}

.view-as-code {
  font-family: "Fira Code", Consolas, "Courier New", monospace;
  font-variant-ligatures: contextual;
  padding: 10px !important;
}

.learn-html-example {
  color:black;
}

.example {
  display: block;
  margin-block: 10px;
}

.learn-html-desription {
  margin-block: 15px;
}

.example-semantik-h1-h2-h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example-semantik-h1-h2-h3 h1 {
  font-size: 25px;
}

.example-semantik-h1-h2-h3-section{
  text-align: center;
}

.example-semantik-towar {
  display: flex;
}

.example-semantik-towar article{
  margin: 10px;
}

.navigation-list {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.learn-html-example--ul ul {
  list-style-type: disc;
  padding-left: 40px;
  margin: 1em 0;
}

.learn-html-example--ul li {
  display: list-item;
}

.learn-html-example--ol li {
  display: list-item;
}

.learn-html-example--ol ol {
  list-style-type: decimal;
  padding-left: 40px;
  margin: 1em 0;
}

.navigation-menu {
  display: flex;
  flex-direction: column;
}

.navigation-menu span {
  text-align: center;
  margin-block: 5px;
  text-transform: uppercase;
  color: white;
}
.navigation-item summary {
  display: flex;
  cursor: pointer;
}
.navigation-item summary::marker {
  display: none;
}

.navigation-item summary span {
  padding-inline: 10px;
  padding-block: 5px;
  color: #D4C9E9;
  text-transform: none;
}

.navigation-item.navigation-item-inner {
  transition: all 0.15s ease-in;
}

.navigation-item.navigation-item-inner:hover {
  scale: 1.03;
  background-color: #131619;
}

.navigation-item {
  transition: all 0.15s ease-in;
}
.navigation-item:hover {
  scale: 1.03;
  background-color: #2e5cb8 ;
}

.learn-html-example.learn-html-example--img {
  display: flex;
  justify-content: center;
}

.learn-html-example--input form{
  display: flex;
  flex-direction: column;
}

.learn-html-example-align-items {
  justify-content: center;
}

.img-filters-example-box--1 img,
.img-filters-example-box--2 img,
.img-filters-example-box--3 img,
.img-filters-example-box--4 img,
.img-filters-example-box--5 img,
.img-filters-example-box--6 img {
  max-width: 100%;
  width: 100%;

}

details ul{
  padding: 8px;
}

.example-placeholder {
  resize: none;
}

.learn-html-example--env {
  overflow: hidden;
}

@media (max-width: 1090px) {
  .learn-html-code {
    font-size: 12px;
  }
} 

@media (max-width: 675px) {
  main {
    flex-direction: column;
    row-gap: 10px;
  }
  .body {
    font-size: 15px;
  }
  .header-main p{
    font-size: 15px;
    max-width: 100px;
  }

  .header-main a{
    font-size: 20px;
  }
  .navigation-item {
    margin-block: 5px;
  }
  aside section {
    width: 100%;
    max-height: 50vh;
  }

  .learn-html-example--table table {
    font-size: 8px;
  }
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}